body {
    background-color: black;
    color: white;
}

.mainCell{
    text-align: center;
    display: inline-block;
    width: 11%;
    border-style: solid;
    margin: 2px;
    border-color: #383838;
}

.userCell{
    text-align: center;
    display: inline-block;
    width: 17%;
    border-style: solid;
    margin: 2px;
    border-color: #383838;
}

.highlight {
    border-color: lightyellow;
    background-color: lightblue;
    color: red;
}
